# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pytest / Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
*.cover
*.py,cover
nosetests.xml
coverage.xml

# Data Pipeline Artifacts & Cache
# Data Pipeline Artifacts & Cache
data/raw/*
!data/raw/customer_transactions.json
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/output/*
!data/output/.gitkeep

*.parquet
*.sqlite
*.duckdb

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
